<?xml version="1.0"?>
<launch>
    <arg name="load_state_filename" default="$(find licam)/map/0516_1.pbstream" />

    <include file="$(find licam)/launch/sick_tim_5xx.launch" />
    
    <include file="$(find licam)/launch/base.launch" />

    <include file="$(find licam)/launch/localization_561.launch">
	<arg name="load_state_filename" value="$(arg load_state_filename)" />
    </include>

    <include file="$(find licam)/launch/nav_planner.launch" />	
</launch>
