<?xml version="1.0"?>
<launch>

<!-- A simple launch file for the urg_node package. -->

<!--  When using an IP-connected LIDAR, populate the "ip_address" parameter with the address of the LIDAR.
      Otherwise, leave it blank. If supported by your LIDAR, you may enable the publish_intensity
      and/or publish_multiecho options. -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 map odom 100"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="base_imu" args="0 0 0 0 0 0 $(arg agent_serial)/base_footprint $(arg agent_serial)/imu 100"/> -->

  <arg name="yugong_model" default="$(find yugong_description)/robots/$(arg robot_model)/$(arg robot_model).urdf.xacro"/>
  <param name="yugong_description" command="$(find xacro)/xacro.py '$(arg yugong_model)'"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="yugong_state_publisher" >
    <remap from="robot_description" to="yugong_description" />
    <param name="publish_frequency" type="double" value="10.0"/>
    <param name="use_tf_static" type="bool" value="false"/>
    <!-- <param name="tf_prefix" type="string" value="$(arg agent_serial)"/> -->
    <!-- <remap from="joint_states" to="different_joint_states" /> -->
  </node>

</launch>